<?xml version="1.0" encoding="UTF-8" ?>
<!--
    JBZoo Toolbox - Image.

    This file is part of the JBZoo Toolbox project.
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @license    MIT
    @copyright  Copyright (C) JBZoo.com, All rights reserved.
    @see        https://github.com/JBZoo/Image
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/coverage_xml/main.xml"/>
            <php outputFile="build/coverage_cov/main.cov"/>
            <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="PHPUnit">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="build/coverage_junit/main.xml"/>
    </logging>
</phpunit>
